<div class="col-xs-2 text-center" >
    <h1>Categories</h1>
    <ul>
        <li style="list-style: none" ><a <a ng-click="filterProductsByCategory()" >All category <a></a></li>
        <li ng-repeat="category in categories" style="list-style: none;"  ng-class="{ 'currentCatagory' : (search == category.title) }"  > <a ng-click="filterProductsByCategory(category.title)"  >{{ category.title }}</a> </li>
    </ul>
</div>
<div class="col-xs-10">


    <div  class="col-xs-6"> <img  width="500" height="500" ng-src="{{ products.images[0].url.http }}">  </div>
    <div class="col-xs-6">
        <h1>{{products.title}}</h1>
        <p ng-class="" class="h2">{{ products.price.value }} </p>
        <p>{{products.description}}</p>
        <p>Quanity Aviable <span style="color: darkgreen" >{{products.stock_level}}</span></p>
        <div> <label> Quantity</label><input type="number" min="1" max="{{products.stock_level}}"></div>
        <button ng-if="!addingItemStatus" ng-click="addItem( '{{products.id}}' ,1)" class="btn btn-success">Add to Cart</button>
        <button ng-if="addingItemStatus && addingItemStatus != 'Error Unable to add Item'" class="btn btn-warning">{{addingItemStatus}}</button>
        <button ng-if="addingItemStatus == 'Error Unable to add Item'" class="btn btn-danger">{{addingItemStatus}}</button>
    </div>



</div>
