<div class="col-lg-2 visible-lg text-center" >
    <h1>Categories</h1>
    <ul>
        <li style="list-style: none" ng-class="{ 'currentCatagory' : (search == category.title) }"><a <a ng-click="filterProductsByCategory()" >All category <a></a></li>
        <li ng-repeat="category in categories" style="list-style: none;"  ng-class="{ 'currentCatagory' : (search == category.title) }"  > <a ng-click="filterProductsByCategory(category.title)"  >{{ category.title }}</a> </li>
    </ul>
</div>
 <div class="col-xs-12 col-lg-10 ">
     <h1> Featured Products</h1>

     <ul > <strong>{{ category.title }}</strong>
         <li  ng-repeat="produt in products | filter:search " ng-animate="fade" class="fade " style="list-style: none">
             <a href="#/product/{{produt.slug}}">
             <div class="col-xs-6 col-sm-4 " style="height: 350; "   >
                 <div  class=" item-box col-xs-4 col-md-12  col-centered"   style="  background-image: url({{ produt.images[0].url.http }} ); background-size: 100%; background-repeat: no-repeat " > </div>
                 <p>{{ produt.title }} </p>
                 <p>from <strong>{{ produt.price.value}}</strong></p>
                 <p>{{produt.category.value}}</p>
             </div></a>
         </li>
     </ul>

</div>
